$background-color: #EFEFEF;
$font-family: "Montserrat", sans-serif;
$red:#e60000;
$black:#222;
$white:#fff;
$blue: rgb(35, 35, 245);
$light-color:#666;
$light-bg:#eee;
$border:.2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$border-radius: 10px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  transition: all .2s linear;
}


@mixin grid($val) {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:7rem;
}

  body {
    font-family: $font-family;
    overflow-x: hidden;
    background-color: $background-color;
  }
  
  /* navbar */

  nav {
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    /* padding: 20px 0; */
    color: rgb(219, 211, 226);
    height: 75px;
    align-items: center;
  }
  
  nav .logo {
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
    cursor: pointer;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    width: 15%;
    justify-content: space-around;
    cursor: pointer;
    color:#fff;
    position: relative;
    right: 80px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  nav ul li a {
    color: rgb(219, 211, 226);
    text-decoration: none;
    font-size: 0.8 em;
  }
  
  nav ul li a:hover {
    color: rgb(255, 255, 255);
  }

  .user-profile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    h4 {
      color: black;
      margin-left: 20px;
      margin-top: 15px;
      opacity: 0.4;
    }
  }


  .search-container {
    display: inline-block;
    box-sizing: border-box;
    flex-wrap: wrap;
    form.searchbar input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid rgb(185, 185, 185);
        float: left;
        width: 400px;
        background: #f1f1f1;
        border-radius: 3px;
        position: relative;
      }
      
      form.searchbar button {
        float: left;
        width: 60px;
        padding: 10px;
        background: #E1E1E1;
        color: #A5A5A5;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      form.searchbar button:hover {
        background: #ecf1f5;
      }
      
      form.searchbar::after {
        content: "";
        clear: both;
        display: table;
      }
      input[type=text]::placeholder{
        color: #b9b5b5;
      }
  }

  .cartnav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 30px;
  }
  
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    left: 10px;
  }
  
  .menu-toggle input {
    position: absolute;
    width: 48px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(88, 81, 81);
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  /* Hamburger Menu Animation*/
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: rgb(88, 81, 81);
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: rgb(88, 81, 81);
    transform: rotate(-45deg) translate(-1px, 0);
  }
  
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  .cart {
    position: relative;
    bottom: 5px;
    cursor: pointer;
  }
  
  // banner image
.banner-container {
  width: 100%;
  background-size: cover;
  cursor: pointer;
  img {
    max-width: 100%;
    height: auto;
  }
}

// kategori produk
.category-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .category{
    @include grid(16rem);
    background-color: $white;
    border-radius: $border-radius;
    padding: 30px;

    .list-category{
      text-align: center;
      font-size: 12px;
      cursor: pointer;

      &:hover h5{
        color:$red;
      }

      img{
        height: 4rem;
        margin-bottom: 1rem;
        cursor: pointer;
      }

      img:hover {
        color: $red;
      }

      h3{
        font-size: 1.7rem;
        color:$black;
        font-weight: normal;
      }
    }
  }
}

  // product notebook
  .notebook-container {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;

    h2 {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;
      left: 125px;
    }
    .notebooks {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      
      .notebook {
        background: #FFF;
        width: 200px;
        margin: 10px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        padding: 10px;
        padding-bottom: 20px;

        img{
          height: 8rem;
          text-align: center;
          border-radius: 5px;
          background-size: cover;
        }
        h3 {
          font-size: 11px;
          font-weight: 20px;
          text-align: center;
          padding-top: 20px;
        }
        h4 {
          font-size: 11px;
          font-weight: 20px;
          color: blue;
          padding-top: 20px;
          text-align: center;
          padding-bottom: 20px;
        }
        &:hover h3{
          color:$red;
        }
        &:hover h4{
          color:$red;
        }
      }
    }
    
  }


  // penawaran product 
  .smb-container {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-top: 30px;
    h2 {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: left;
      position: relative;
      left: 120px;
    }

    .banners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-align: center;
    
      .small-banners {
        cursor: pointer;
        margin: 0 30px;
        padding: auto;
        position: relative;
        right: 30px;

        img {
          width: 390px;
        }
      }
    }
  }

  // ssd
  .ssd-container {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;

    h2 {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;
      left: 125px;
    }
    .ssd-box {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      
      .ssd {
        background: #FFF;
        width: 200px;
        margin: 10px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        padding: 10px;
        padding-bottom: 20px;

        img{
          height: 8rem;
          text-align: center;
          border-radius: 5px;
          background-size: cover;
        }
        h3 {
          font-size: 11px;
          font-weight: 20px;
          text-align: center;
          padding-top: 20px;
        }
        h4 {
          font-size: 11px;
          font-weight: 20px;
          color: blue;
          padding-top: 20px;
          text-align: center;
          padding-bottom: 20px;
        }
        &:hover h3{
          color:$red;
        }
        &:hover h4{
          color:$red;
        }
      }
    }
  }
  

  // banner footer
  .banner-footer {
    width: 100%;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }

  // footer
  .container{
    max-width: 1170px;
    margin:0 auto;
    .row{
      display: flex;
      flex-wrap: wrap;
      ul{
        list-style: none;
      }
    }
  }
  

  .footer{
    background-color: #fff;
    padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #03AC0E;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #d43a3a;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }


/* responsive Breakpoint */

    /*responsive footer*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  /* Ukuran tablet */
  @media screen and (max-width: 768px) {
    nav ul {
      width: 50%;
    }
  }
  
  /* ukuran mobile */
 @media(max-width:1000px) {

  // small banner 
  .smb-container {
    text-align: center;
    width: 100%;
    .banners{
      display: flex;
      flex-direction: column-reverse;
      img {
        padding: 4px;
      }
    }
    h2 {
      display: none;
    }
  }


  // ssd
  .ssd-container {
    align-items: center;
    display: grid;
    gap: 2rem;
    padding-bottom: 70px;
    
    h2 {
      display: none;
    }
    .ssd-box {
      display: grid;
      gap: 1;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      top: 50px;
      
      .ssd {
        width: 85%;
        box-shadow: 3px 3px 4px 1px rgba(221, 221, 221, 0.8);
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
        box-sizing: border-box;
        img{
          text-align: center;
          border-radius: 5px;
          background-size: cover;
          width: 11vh;
        }
        h3 {
          font-size: 9px;
          font-weight: 20px;
          text-align: center;
          padding-top: 20px;
        }
        h4 {
          font-size: 8px;
          font-weight: 20px;
          color: blue;

        }
        &:hover h3{
          color:$red;
        }
        &:hover h4{
          color:$red;
        }
      }
    }
    
  }

  // banner footer
  .banner-footer {
    width: 100%;
  }

  footer {
    max-width: 100%;
  }

  // notebook
  .notebook-container {
    align-items: center;
    display: grid;
    gap: 2rem;
    position: relative;
    bottom: 20px;

    h2 {
      display: none;
    }

    .notebooks {
    display: grid;
    gap: 1;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
      .notebook {
        width: 85%;
        box-shadow: 3px 3px 4px 1px rgba(221, 221, 221, 0.8);
        h3 {
          font-size: 10px;
        }
        h4 {
          font-size: 9px;
        }
        img {
          text-align: center;
          width: 10vh;
        }
      }
     
    }
  }  

  // footer
  .footer {
    .container {
      .row {
        .info {
          display: none;
        }
      }
    }
  }

  // navbar dan toggle
    .menu-toggle {
      display: flex;
      padding-right: 6px;
    }
    .logo{
      display: none;
    }
    nav .search-container {
      width:70%;
      flex-direction: column;
      align-items: center;
      z-index: 1;
  }

    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      height: 100vh;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      background-color: rgb(31, 21, 41);
      color: white;
      z-index: 1;
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
    }
  
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    }
    .form-regis {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
  
    .searchbar {
      display: flex;
    }

  // kategori
    .category-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 20px;

      .category{
        @include grid(16rem);
        background-color: $white;
        border-radius: $border-radius;
        padding: 5px 5px 5px 5px;
        gap:0.7rem;
    
        .list-category{
          text-align: center;
          font-size: 12px;
          cursor: pointer;
          margin-top: 40px;
            .ro-text {
              visibility: hidden;
            }
    
          &:hover h5{
            color:$red;
          }
    
          img{
            height: 3rem;
            margin-bottom: 1rem;
            cursor: pointer;
          }
    
          h3{
            font-size: 1.7rem;
            color:$black;
            font-weight: normal;
          }
        }
      }
    }
  }
